# Ignore Python virtual environments
ats-env/

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.pyo

# Ignore environment variables
.env

# Ignore OS & editor files
.DS_Store
.vscode/
.idea/

# Optional: ignore log or temp files
*.log
*.tmp
